<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% block stylesheets %}{% endblock %}

        {{ importmap('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>

        {# HEADER #}

            {% include "common/_header.html.twig" %}

        {# HEADER #}

        {# BODY #}

            {% block body %}{% endblock %}

        {# BODY #}

        {# FOOTER #}

            {% include "common/_footer.html.twig" %}

        {# FOOTER #}

    </body>
</html>
