{% extends 'base-neutre.html.twig' %}

{% block title %}500{% endblock %}

{% block body %}

    <div class="grid h-screen place-content-center bg-white px-4">
        <h1 class="uppercase tracking-widest text-gray-500">500 | Hum c'est pas bon ça</h1>
    </div>


{% endblock %}
